<head>
<title>Doug`s Mega Lottery</title>
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<img alt="doug" align="left" src="/img/lotto.png" width="300" height="300" />
<img alt="doug" align="right" src="/img/lottery.png" width="300" height="300" />	
<center>
<br>
<div class="title">Welcome to Doug`s Mega Lottery</div><br>
<img alt="doug" align="center" src="/img/cross.png" width="400" height="200" />
<br>
Press Draw to get the winning numbers
<form method="post" action="number">
    <br>
    <input type="submit" value="Draw Winning Numbers">
<br>
</form>
<img alt="doug" align="center" src="/img/logo.png" width="400" height="200" />
	<br>
<br>
</div>
</center>
</body>