<head>
<title>Doug`s Mega Lottery</title>
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<img alt="doug" align="left" src="/img/lotto.png" width="300" height="300" />
<img alt="doug" align="right" src="/img/lottery.png" width="300" height="300" />	
<center>
<br>
<div class="title">Welcome to Doug`s Mega Lottery</div><br>
<img alt="doug" align="center" src="/img/cross.png" width="300" height="100" />
<br> 
<%
win1 = win1.to_i
win2 = win2.to_i
win3 = win3.to_i
win4 = win4.to_i
win5 = win5.to_i
win6 = win6.to_i
num1 = num1.to_i
num2 = num2.to_i
num3 = num3.to_i
num4 = num4.to_i
num5 = num5.to_i
num6 = num6.to_i
winners = [win1, win2, win3, win4, win5, win6] %>
The winning numbers are:<br>
<%= winners %>
<br>
<% check_numbers = [num1, num2, num3, num4, num5, num6]
 matches = check_numbers & winners
num_match = matches.length %>
You have this many numbers right:
<br>
<%= num_match %>
<br>
<div class="title">Winning Payout<br>
3 Numbers Pays $100.00<br>
4 Numbers Pays $10,000.00<br>
5 Numbers Pays $100,000.00<br>
6 Numbers Pays $1,000,000.00</div>
<img alt="jackpot" align="center" src="/img/jackpot.png" width="200" height="100" />
<br>
<br>
</div>
</center>
</body>

